.signup {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

body {
    background-color: black;
    color: white;
}

header, h1, header2 {
    font-family: papyrus;
    font-variant: small-caps;
    text-align: center;
}

a:link, a:visited {
    background-color: rgba(0, 219, 248, 0.815);
    color: white;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

.refuge:hover {
    background-color: rgb(49, 49, 49, 0.3);
    font-size: 2.1rem;
}

.hrbig {
    border-width: .3rem;
    border-color: rgba(0, 219, 248, 0.815);
}

.tophr {
    border: 1px solid rgba(0, 219, 248, 0.815)
}

.logout {
    font-size: 1.5rem;
    color: white;
    border: rgb(46, 46, 248) solid 3px;
    background-color: rgba(0, 219, 248, 0.815);
    margin: 3px;
    padding: 5px;
}

.logout:hover {
    border-color: rgba(255,255,255,1);
}

img {
    width: 100vw;
}

.submission {
    border: rgba(0, 219, 248, 0.815) none 4px;
    box-shadow: 5px 10px rgba(0, 219, 248, 0.815);
    padding: 5px;
}

.submit {
    display:inline-block;
    background-color: rgba(0, 219, 248, 0.815);
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}

.choosefile{
    font-size: 1.2rem;
    border:rgba(0, 219, 248, 0.815) solid 4px;
}

button.reveal {
    background-color: aqua;
}

div.reveal button {
    display:inline-block;
    background-color: rgba(0, 219, 248, 0.815);
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    font-size: 1rem;
}

div.reveal button:hover {
    border-color: rgba(255,255,255,1);
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

input[type=text] {
    min-width: 400px;
    padding:5px; 
    margin:5px;
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
    background-color: aqua;
}


input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.description {
    margin: 8px;
    padding: 8px;
    font-family: copperplate gothic light;
}

.flex-container {
    font-family: copperplate gothic light;
    display: flex;
    justify-content: space-between;
}

.delete {
    background: red;
    font-weight: 700;
    width: 20vh;
}

.delete:hover {
    border-color: white;
}

.likedby {
        max-width: 600px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}

.heartbutton {
    border:rgba(0, 219, 248, 0.815) solid 4px;
    margin: 8px;
    padding: 8px;
}

.heartbutton:hover {
    border-color: rgba(255,255,255,1);
}

.container {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: rgba(255, 255, 255, 0.815);
    border: 2px solid ;
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
}

.container:hover {
    border-color: rgba(0, 219, 248, 0.815) ;
    box-shadow: 0 0 0 3px rgba(0, 219, 248, 0.815);
    outline: 3px solid transparent;
}

.events {
    text-align: center;
    width: 75%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.815);
    border: 2px solid ;
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
}

.events:hover {
    border-color: rgba(0, 219, 248, 0.815) ;
    box-shadow: 0 0 0 3px rgba(0, 219, 248, 0.815);
    outline: 3px solid transparent;
}

.tard {
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.attending {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.imageContainer img {
    height: 220px;
    width: auto;
}




#bag {
    height: 500px;
    max-width: 1200px;
    margin: 5px;
    background: url(images/asteroidbag.jpg) center no-repeat;
    background-size: 80%;
}

#bag.burst1 {
background: url(images/asteroidburst1.png) center no-repeat;
background-size: 80%;
margin: 5px;
}

#bag.burst2 {
background: url(images/asteroidburst2.png) center no-repeat;
background-size: 80%
}

#bag.burst3 {
background: url(images/asteroidburst3.png) center no-repeat;
background-size: 80%
}

#bag.burst4 {
background: url(images/asteroidburst4.png) center no-repeat;
background-size: 80%
}

#bag.burst5 {
background: url(images/asteroidburst5.png) center no-repeat;
background-size: 80%
}

#bag.burst6 {
background: url(images/asteroidburst6.png) center no-repeat;
background-size: 80%
}

#bag.burst7 {
background: url(images/images/asteroidburst7.png) center no-repeat;
background-size: 80%
}

#bag.burst8 {
background: url(images/asteroidburst8.png) center no-repeat;
background-size: 80%
}

#bag.burst9 {
background: url(images/asteroidburst9.png) center no-repeat;
background-size: 80%
}

#bag.burst {
background: url(images/ended.png) center no-repeat;
background-size: 80%;
}

#bag-health {
width: 500px;
border: 2px solid #000;
margin: 0 auto 20px auto;
border: chocolate solid 3px;
}

#bag-health div {
height: 20px;
background: crimson;
}

#controls {
width: 500px;
margin: 0 auto;
}

#controls button {
font-size: 75px;
color: red;
background: black;
}

.gloombutton {
    font-size: 20px;
    background-color: aqua;
}

.gloombutton:hover {
    background-color: rgb(0, 225, 255);
}