<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Idle Game</title>
</head>

<body>
{% csrf_token %}
{% if user.is_authenticated %}
    <header class="header">
        <h1>Welcome to Kosupure, {{ user.username }}!</h1> 
        <h2>
            <span><a href="{% url 'logout' %}">Logout</a></span>
            <a href="{% url 'home' %}">Kosupure Posts</a>
            <a href="{% url 'events' %}">Events</a>
            <a href="{% url 'board' %}">Chatroom</a>
            <a href="{% url 'calculator' %}">Calculator</a>
        </h2>
        <hr class="tophr">
    </header>
{% else %}
    <header class="header">
        <h1>Welcome to Kosupure, visitor!</h1>
        <h1>You are not logged in.</h1> 
        <h2>
            <span><a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}" >Sign Up</a></span>
            <a href="{% url 'home' %}">Kosupure Posts</a>
            <a href="{% url 'events' %}">Events</a>
            <a href="{% url 'board' %}">Chatroom</a>
            <a href="{% url 'calculator' %}">Calculator</a>
        </h2>
    </header>
{% endif %}

<div id="game">
    <div class="imageContainer">
        <center>
            <h1>Doomsday Page!</h1> 
                <a href="#" @click="selection='thanos'; checkDate(); loadNASA(); isHidden = false"><img :src="thanos" class="images" @mouseover="thanosActive = true" @mouseleave="thanosActive = false"></a>
                <a href="#" @click="selection='doomsday'; checkDate(); loadNASA(); isHidden = false"><img :src="doomsday" class="images" @mouseover="doomsdayActive = true" @mouseleave="doomsdayActive = false"></a>
                <a href="#" @click="selection='apophis'; checkDate(); loadNASA(); isHidden = false"><img :src="tyson" class="images" @mouseover="tysonActive = true" @mouseleave="tysonActive = false"></a>
                <br>
            </div>
        </center>
        <div v-show="thanosActive">
            <h2>"What I'm About To Do To Your Stubborn, Annoying Little Planet, I'm Gonna Enjoy It, Very, Very Much." -- Thanos</h2>
        </div>
        <div v-show="doomsdayActive">
            <h2>You don't get it, blue. I'm not some bad guy, something you can punch. I've always been here, and I'll always be here.

                -- Doomsday (Prime Earth)</h2>
        </div>
        <div v-show="tysonActive">
            <h2>“On Friday the 13th, April 2029, an asteroid large enough to fill the Rose Bowl as though it were an egg cup will fly so close to Earth that it will dip below the altitude of our communication satellites. We did not name this asteroid Bambi. Instead, we named it Apophis, after the Egyptian god of darkness and death.” -- Neil DeGrasse Tyson</h2>
        </div>
        <br>
        <hr>
        <br>
            <p>Asteroid Rumors? Use My NASA ID to learn more:</p>
        <input v-model="inputDate" id="inputDate" type="date"> 
        <br><br>
        <button @click="loadNASA(), isHidden = false" id="send">Discover Nearest Earth Object</button>
        <br>
        
        <br>
        <p v-if="!isHidden">
            According to NASA, a [[ sizeMeters ]] meter asteroid traveling at [[ mph ]] mph named [[ name ]]
            <br> 
            has a nearest distance of [[lunar]] lunar units from the Earth on [[ date ]]
            <br>
            Aproximate nearest distance: [[ missDistance - 240000 ]] miles further away than our moon.
            <br>
            The moon is approximately 240,000 miles away from the Earth
        <hr>
        </p>
        <div class="potd">
            <button @click="toggleImage(), loadPotd()" class='gloombutton'>Too much Doom and Gloom? Picture of The Day Button Right Here!</button>
            <h2 v-if='showImage'>
                <img :src="potd" onclick="window.open(this.src, '_blank')" class="potdimage">
            <br>
            [[ title ]]
            <br>
            [[ explanation ]]</h2>
        </div>
        <hr>
        <div>
            <h1 @mouseover="active = true" @mouseleave="active = false" class='elon'>Batman Says:</h1>
            <div v-show="active">
                <h1>“Maybe That's What Batman Is About. Not Winning. But Failing, And Getting Back Up. Knowing He'll Fail, Fail A Thousand Times, But Still Won't Give Up.”</h1>
            </div>
        </div>
        <br><br>
        <center>
            <div id="bag" :class="{ bag: hundred, burst1: ninety, burst2: eighty, burst3: seventy, burst4: sixty, burst5: fifty, 
            burst6: forty, burst7: thirty, burst8: twenty, burst9: ten, burst: ended }"></div>
        </center>
        <div id="bag-health">
            <div :style="{ width: health + '%' }"></div>
        </div>
        <div id="controls">
            <button  @click.prevent="fire(), playSound(missileaudio)" v-if="resources.missile.count > 0" v-show="!ended">Fire Missile</button>
        </div>
        <section>
            <h2> Finance an effort to destroy the incoming asteroid! </h2>
            <p>(Hint: Click the money bag)</p>
            <aside class="game">
                    <button @click="money++">💰</button>
                    <div>
                        Money: [[ Math.floor(money) ]]
                        [[ displayMissiles ]]
                    </div>
                    <div v-for="(resources, id) in resources" class="gameicon">
                        [[ resources.count ]]x [[ resources.icon ]] Tier [[ resources.rate ]] | 
                        <button @click="buy(id)"
                            v-if="money >= resources.cost">
                            Finance Lobbyist for more [[ id ]]: 💰[[ resources.cost ]]
                        </button>
                        <button @click="buy10(id)"
                            v-if="money >= resources.cost*10">
                            Buy 10: 💰[[ resources.cost ]]
                        </button>
                        <button @click="upgrade(id)"
                            v-if="money >= (resources.cost * 5)">
                            Upgrade [[ id ]]: 💰[[ (resources.cost *5) ]]
                        </button>
                    </div>
            </aside>
        </section>
    </div>
</main>
</center>

</div>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>


    const app = new Vue({
        el: "#game",
        delimiters: ['[[', ']]'],
        data: {
            active: false,
            apophis: '{% static "images/apophis.jpg" %}',
            asteroid: '',
            asteroidName: '',
            deep: '{% static "images/deep.jpg" %}',
            date: '',
            designation: '',
            eighty: false,
            ended: false,
            explanation: '',
            fifty: false,
            forty: false,
            health: 100,
            hundred: false,
            inputDate: new Date().toISOString().slice(0,10),
            isHidden: true,
            lookUpSize: '',
            lookUpDate: '',
            lookUpDistance: '',
            lookUpSpeed: '',
            lunar: '',
            mph: '',
            doomsday: '{% static "images/doomsday.jpg" %}',
            doomsdayActive: false,
            missDistance: '',
            missileaudio: '{% static "images/missile.mp3" %}',
            name: '',
            ninety: false,
            potd: '',
            selection: '',
            seventy: false,
            showImage: false,
            sixty: false,
            sizeMeters: '',
            sizeMiles: '',
            ten: false,
            thanos: '{% static "images/thanos.jpg" %}',
            thanosActive: false,
            thirty: false,
            title: '',
            twenty: false,
            tyson: '{% static "images/tyson.jpg" %}',
            tysonActive: false,
            money: 0,
            resources: {
                Crowdsourcing: {
                    icon: "🧑‍🤝‍🧑",
                    cost: 50,
                    rate: 1,
                    count: 0
                },
                FineDining: {
                    icon: "🍽️",
                    cost: 50,
                    rate: 1,
                    count: 0
                },
                ClothingLine: {
                    icon: "👕",
                    cost: 50,
                    rate: 1,
                    count: 0
                },
                Pagentry: {
                    icon: "🎽",
                    cost: 50,
                    rate: 1,
                    count: 0
                },
                Athletics: {
                    icon: "🏈",
                    cost: 50,
                    rate: 1,
                    count: 0
                },
                TaxHikes: {
                    icon: "💸",
                    cost: 50,
                    rate: 1,
                    count: 0
                },
                Looting: {
                    icon: "🔥",
                    cost: 50,
                    rate: 1,
                    count: 0
                },
                HeroBakeSale: {
                    icon: "🍪",
                    cost: 50,
                    rate: 3,
                    count: 0
                },
                EminentDomain: {
                    icon: "⚖️",
                    cost: 50,
                    rate: 1,
                    count: 0
                },
                AskVillains: {
                    icon: "❓",
                    cost: 50,
                    rate: 10,
                    count: 0
                },
                DoomsdayClockSales: {
                    icon: "⏰",
                    cost: 500,
                    rate: 2,
                    count: 0
                },
                NationalizedResources: {
                    icon: "🚅",
                    cost: 50,
                    rate: 1,
                    count: 0
                },
                CorporateTheft: {
                    icon: "🏢",
                    cost: 50,
                    rate: 1,
                    count: 0
                },
                BuildGlobalGovernment: {
                    icon: "🏗️",
                    cost: 50,
                    rate: 1,
                    count: 0
                },
                Prayer: {
                    icon: "📿",
                    cost: 50,
                    rate: 1,
                    count: 0
                },
                ThorFitnessProgram: {
                    icon: "🚶‍♂️",
                    cost: 50,
                    rate: 10,
                    count: 0
                },
                missile: {
                    icon: "🚀",
                    cost: 100000000000,
                    rate: 1,
                    count: 0
                }
            }
        },
    
        methods: {
            loadNASA: function () {
                axios({
                    method: 'GET',
                    url: `https://api.nasa.gov/neo/rest/v1/feed?start_date=${this.inputDate}`,
                    params: {
                        api_key: `x9tOqUPDJm12DiV8OLgtWCHTmUplEo2jisd1IVK0`
                    }
                }).then(response => {
                    this.inputDate = document.getElementById('inputDate').value.toString()
                    this.day = response.data.near_earth_objects[this.inputDate]
                    this.mph = Math.round(this.day[0]['close_approach_data'][0]["relative_velocity"]["miles_per_hour"])
                    this.lunar = Math.round(this.day[0]['close_approach_data'][0]['miss_distance']['lunar'])
                    this.missDistance = Math.round(this.day[0]['close_approach_data'][0]['miss_distance']['miles'])
                    this.date = this.day[0]['close_approach_data'][0]['close_approach_date']
                    this.name = this.day[0]['name']
                    this.sizeMeters = Math.round(this.day[0]['estimated_diameter']['meters']['estimated_diameter_max'])
                    this.sizeMiles = Math.round(this.day[0]['estimated_diameter']['miles']['estimated_diameter_max'])
                })
            },
            loadAsteroid: function () {
                axios({
                    method: 'GET',
                    url: `https://api.nasa.gov/neo/rest/v1/neo/${this.asteroid}`,
                    params: {
                        api_key: `x9tOqUPDJm12DiV8OLgtWCHTmUplEo2jisd1IVK0`
                    }
                }).then(response => {
                    this.asteroid = document.getElementById('asteroid').value.toString()
                    this.designation = response.data['designation']
                    this.lookUpSize = Math.round(response.data.estimated_diameter['meters']['estimated_diameter_max'])
                    this.lookUpDate = response.data['close_approach_data'][0]['close_approach_date']
                    this.lookUpDistance = Math.round(response.data['close_approach_data'][0]['miss_distance']['lunar'])
                    this.lookUpSpeed = Math.round(response.data['close_approach_data'][0]["relative_velocity"]["miles_per_hour"])
                })
            },
            checkDate: function() {
                if (this.selection === "thanos") {
                    this.inputDate = "2018-04-25"
                }
                else if (this.selection === "doomsday") {
                    this.inputDate = "2015-11-13"
                }
                else if (this.selection === "apophis") {
                    this.inputDate = "2029-04-13"
                }
            },
            loadPotd: function() {
                axios({
                    method: 'GET',
                    url: `https://api.nasa.gov/planetary/apod?`,
                    params: {
                        api_key: `x9tOqUPDJm12DiV8OLgtWCHTmUplEo2jisd1IVK0`
                    }
                }).then(response => {
                    this.potd = response.data["url"]
                    console.log(this.potd)
                    this.explanation = response.data["explanation"]
                    this.title = response.data["title"]
                })
            },
            toggleImage: function() {
                this.showImage = !this.showImage
            },
            fire: function() {
                this.health -= 10
                this.resources.missile.count -= 1
                if ( this.health == 100 ) {
                    this.hundred = true
                }
                if ( this.health == 90 ) {
                    this.ninety = true
                }
                if ( this.health == 80 ) {
                    this.eighty = true
                }
                if ( this.health == 70 ) {
                    this.seventy = true
                }
                if ( this.health == 60 ) {
                    this.sixty = true
                }
                if ( this.health == 50 ) {
                    this.fifty = true
                }
                if ( this.health == 40 ) {
                    this.forty = true
                }
                if ( this.health == 30 ) {
                    this.thirty = true
                }
                if ( this.health == 20 ) {
                    this.twenty = true
                }
                if ( this.health == 10 ) {
                    this.ten = true
                }
                if ( this.health <= 0 ) {
                    this.ended = true
                }
            },
            prestige: function() {
                this.health = 100
                this.ended = false
            },
            buy: function(id) {
                this.resources[id].count++
                this.money -= this.resources[id].cost
                let inflation = 1.1
                this.resources[id].cost = Math.floor(this.resources[id].cost * inflation)
            },
            buy10: function(id) {
                this.resources[id].count++
                this.resources[id].count++
                this.resources[id].count++
                this.resources[id].count++
                this.resources[id].count++
                this.resources[id].count++
                this.resources[id].count++
                this.resources[id].count++
                this.resources[id].count++
                this.resources[id].count++
                this.money -= this.resources[id].cost*10
                let inflation = 1
                this.resources[id].cost = Math.floor(this.resources[id].cost * inflation)
            },
            upgrade: function(id) {
                this.resources[id].rate++
                this.money -= Math.floor(this.resources[id].cost * 25)
            },
            playSound (sound) {
                if(sound) {
                    var audio = new Audio(sound);
                    audio.play();
                }
            }
        },
        mounted: function() {
            let loopCount = 0
            setInterval(() => {
                loopCount++
                let keys = Object.keys(this.resources)
                let addition = 0
                for (index in keys) {
                    let key = keys[index]
                    addition += this.resources[key].rate * this.resources[key].count
                }
                this.money += addition
            }, 1)
            
            if (localStorage.money) {
                this.money = parseInt(localStorage.money)
            }
            if (localStorage.health) {
                this.health = parseInt(localStorage.health)
            }
            if (localStorage.Crowdsourcing) {
                this.resources.Crowdsourcing.count = parseInt(localStorage.Crowdsourcing)
            }
            if (localStorage.CrowdsourcingRate) {
                this.resources.Crowdsourcing.rate = parseInt(localStorage.CrowdsourcingRate)
            }
            if (localStorage.CrowdsourcingCost) {
                this.resources.Crowdsourcing.cost = parseInt(localStorage.CrowdsourcingCost)
            }
            if (localStorage.FineDining) {
                this.resources.FineDining.count = parseInt(localStorage.FineDining)
            }
            if (localStorage.FineDiningRate) {
                this.resources.FineDining.rate = parseInt(localStorage.FineDiningRate)
            }
            if (localStorage.FineDiningCost) {
                this.resources.FineDining.cost = parseInt(localStorage.FineDiningCost)
            }
            if (localStorage.ClothingLine) {
                this.resources.ClothingLine.count = parseInt(localStorage.ClothingLine)
            }
            if (localStorage.ClothingLineRate) {
                this.resources.ClothingLine.rate = parseInt(localStorage.ClothingLineRate)
            }
            if (localStorage.ClothingLineCost) {
                this.resources.ClothingLine.cost = parseInt(localStorage.ClothingLineCost)
            }
            if (localStorage.Pagentry) {
                this.resources.Pagentry.count = parseInt(localStorage.Pagentry)
            }
            if (localStorage.PagentryRate) {
                this.resources.Pagentry.rate = parseInt(localStorage.PagentryRate)
            }
            if (localStorage.PagentryCost) {
                this.resources.Pagentry.cost = parseInt(localStorage.PagentryCost)
            }
            if (localStorage.Athletics) {
                this.resources.Athletics.count = parseInt(localStorage.Athletics)
            }
            if (localStorage.AthleticsRate) {
                this.resources.Athletics.rate = parseInt(localStorage.AthleticsRate)
            }
            if (localStorage.AthleticsCost) {
                this.resources.Athletics.cost = parseInt(localStorage.AthleticsCost)
            }
            if (localStorage.TaxHikes) {
                this.resources.TaxHikes.count = parseInt(localStorage.TaxHikes)
            }
            if (localStorage.TaxHikesRate) {
                this.resources.TaxHikes.rate = parseInt(localStorage.TaxHikesRate)
            }
            if (localStorage.TaxHikesCost) {
                this.resources.TaxHikes.cost = parseInt(localStorage.TaxHikesCost)
            }
            if (localStorage.Looting) {
                this.resources.Looting.count = parseInt(localStorage.Looting)
            }
            if (localStorage.LootingRate) {
                this.resources.Looting.rate = parseInt(localStorage.LootingRate)
            }
            if (localStorage.LootingCost) {
                this.resources.Looting.cost = parseInt(localStorage.LootingCost)
            }
            if (localStorage.HeroBakeSale) {
                this.resources.HeroBakeSale.count = parseInt(localStorage.HeroBakeSale)
            }
            if (localStorage.HeroBakeSaleRate) {
                this.resources.HeroBakeSale.rate = parseInt(localStorage.HeroBakeSaleRate)
            }
            if (localStorage.HeroBakeSaleCost) {
                this.resources.HeroBakeSale.cost = parseInt(localStorage.HeroBakeSaleCost)
            }
            if (localStorage.EminentDomain) {
                this.resources.EminentDomain.count = parseInt(localStorage.EminentDomain)
            }
            if (localStorage.EminentDomainRate) {
                this.resources.EminentDomain.rate = parseInt(localStorage.EminentDomainRate)
            }
            if (localStorage.EminentDomainCost) {
                this.resources.EminentDomain.cost = parseInt(localStorage.EminentDomainCost)
            }
            if (localStorage.AskVillains) {
                this.resources.AskVillains.count = parseInt(localStorage.AskVillains)
            }
            if (localStorage.AskVillainsRate) {
                this.resources.AskVillains.rate = parseInt(localStorage.AskVillainsRate)
            }
            if (localStorage.AskVillainsCost) {
                this.resources.AskVillains.cost = parseInt(localStorage.AskVillainsCost)
            }
            if (localStorage.DoomsdayClockSales) {
                this.resources.DoomsdayClockSales.count = parseInt(localStorage.DoomsdayClockSales)
            }
            if (localStorage.DoomsdayClockSalesRate) {
                this.resources.DoomsdayClockSales.rate = parseInt(localStorage.DoomsdayClockSalesRate)
            }
            if (localStorage.DoomsdayClockSalesCost) {
                this.resources.DoomsdayClockSales.cost = parseInt(localStorage.DoomsdayClockSalesCost)
            }
            if (localStorage.NationalizedResources) {
                this.resources.NationalizedResources.count = parseInt(localStorage.NationalizedResources)
            }
            if (localStorage.NationalizedResourcesRate) {
                this.resources.NationalizedResources.rate = parseInt(localStorage.NationalizedResourcesRate)
            }
            if (localStorage.NationalizedResourcesCost) {
                this.resources.NationalizedResources.cost = parseInt(localStorage.NationalizedResourcesCost)
            }
            if (localStorage.CorporateTheft) {
                this.resources.CorporateTheft.count = parseInt(localStorage.CorporateTheft)
            }
            if (localStorage.CorporateTheftRate) {
                this.resources.CorporateTheft.rate = parseInt(localStorage.CorporateTheftRate)
            }
            if (localStorage.CorporateTheftCost) {
                this.resources.CorporateTheft.cost = parseInt(localStorage.CorporateTheftCost)
            }
            if (localStorage.BuildGlobalGovernment) {
                this.resources.BuildGlobalGovernment.count = parseInt(localStorage.BuildGlobalGovernment)
            }
            if (localStorage.BuildGlobalGovernmentRate) {
                this.resources.BuildGlobalGovernment.rate = parseInt(localStorage.BuildGlobalGovernmentRate)
            }
            if (localStorage.BuildGlobalGovernmentCost) {
                this.resources.BuildGlobalGovernment.cost = parseInt(localStorage.BuildGlobalGovernmentCost)
            }
            if (localStorage.Prayer) {
                this.resources.Prayer.count = parseInt(localStorage.Prayer)
            }
            if (localStorage.PrayerRate) {
                this.resources.Prayer.rate = parseInt(localStorage.PrayerRate)
            }
            if (localStorage.PrayerCost) {
                this.resources.Prayer.cost = parseInt(localStorage.PrayerCost)
            }
            if (localStorage.ThorFitnessProgram) {
                this.resources.ThorFitnessProgram.count = parseInt(localStorage.ThorFitnessProgram)
            }
            if (localStorage.ThorFitnessProgramRate) {
                this.resources.ThorFitnessProgram.rate = parseInt(localStorage.ThorFitnessProgramRate)
            }
            if (localStorage.ThorFitnessProgramCost) {
                this.resources.ThorFitnessProgram.cost = parseInt(localStorage.ThorFitnessProgramCost)
            }
            if (localStorage.missile) {
                this.resources.missile.count = parseInt(localStorage.missile)
            }
            if (localStorage.missileCost) {
                this.resources.missile.cost = parseInt(localStorage.missileCost)
            } 
            
        },
        computed: {
            displayMissiles: function() {
                let m = ""
                for (var i = 0; i < this.resources.missile.count; i++) {
                    m += "🚀"
                }
                return m
            }
        },
        watch: {
            money(newMoney) {
                localStorage.money = newMoney
            },
            health(newHealth) {
                localStorage.health = newHealth
            },
            resources:{
                handler(newResources) {
                    console.log(newResources)
                    localStorage.Crowdsourcing = newResources.Crowdsourcing.count
                    localStorage.CrowdsourcingRate = newResources.Crowdsourcing.rate
                    localStorage.CrowdsourcingCost = newResources.Crowdsourcing.cost
                    localStorage.FineDining = newResources.FineDining.count
                    localStorage.FineDiningRate = newResources.FineDining.rate
                    localStorage.FineDiningCost = newResources.FineDining.cost
                    localStorage.ClothingLine = newResources.ClothingLine.count
                    localStorage.ClothingLineRate = newResources.ClothingLine.rate
                    localStorage.ClothingLineCost = newResources.ClothingLine.cost
                    localStorage.Pagentry = newResources.Pagentry.count
                    localStorage.PagentryRate = newResources.Pagentry.rate
                    localStorage.PagentryCost = newResources.Pagentry.cost
                    localStorage.Athletics = newResources.Athletics.count
                    localStorage.AthleticsRate = newResources.Athletics.rate
                    localStorage.AthleticsCost = newResources.Athletics.cost
                    localStorage.TaxHikes = newResources.TaxHikes.count
                    localStorage.TaxHikesRate = newResources.TaxHikes.rate
                    localStorage.TaxHikesCost = newResources.TaxHikes.cost
                    localStorage.Looting = newResources.Looting.count
                    localStorage.LootingRate = newResources.Looting.rate
                    localStorage.LootingCost = newResources.Looting.cost
                    localStorage.HeroBakeSale = newResources.HeroBakeSale.count
                    localStorage.HeroBakeSaleRate = newResources.HeroBakeSale.rate
                    localStorage.HeroBakeSaleCost = newResources.HeroBakeSale.cost
                    localStorage.EminentDomain = newResources.EminentDomain.count
                    localStorage.EminentDomainRate = newResources.EminentDomain.rate
                    localStorage.EminentDomainCost = newResources.EminentDomain.cost
                    localStorage.AskVillains = newResources.AskVillains.count
                    localStorage.AskVillainsRate = newResources.AskVillains.rate
                    localStorage.AskVillainsCost = newResources.AskVillains.cost
                    localStorage.DoomsdayClockSales = newResources.DoomsdayClockSales.count
                    localStorage.DoomsdayClockSalesRate = newResources.DoomsdayClockSales.rate
                    localStorage.DoomsdayClockSalesCost = newResources.DoomsdayClockSales.cost
                    localStorage.NationalizedResources = newResources.NationalizedResources.count
                    localStorage.NationalizedResourcesRate = newResources.NationalizedResources.rate
                    localStorage.NationalizedResourcesCost = newResources.NationalizedResources.cost
                    localStorage.CorporateTheft = newResources.CorporateTheft.count
                    localStorage.CorporateTheftRate = newResources.CorporateTheft.rate
                    localStorage.CorporateTheftCost = newResources.CorporateTheft.cost
                    localStorage.BuildGlobalGovernment = newResources.BuildGlobalGovernment.count
                    localStorage.BuildGlobalGovernmentRate = newResources.BuildGlobalGovernment.rate
                    localStorage.BuildGlobalGovernmentCost = newResources.BuildGlobalGovernment.cost
                    localStorage.Prayer = newResources.Prayer.count
                    localStorage.PrayerRate = newResources.Prayer.rate
                    localStorage.PrayerCost = newResources.Prayer.cost
                    localStorage.ThorFitnessProgram = newResources.ThorFitnessProgram.count
                    localStorage.ThorFitnessProgramRate = newResources.ThorFitnessProgram.rate
                    localStorage.ThorFitnessProgramCost = newResources.ThorFitnessProgram.cost
                    localStorage.missile = newResources.missile.count
                    localStorage.missileCost = newResources.missile.cost
                },
                deep:true
            }
        }
    })
    

</script>
</body>