<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Kosupure</title>
</head>

<body>
{% csrf_token %}
{% if user.is_authenticated %}
<header>
<h1>Welcome to Kosupure, {{ user.username }}!</h1>
<p><a href="{% url 'logout' %}">Logout</a><p>
</header>
{% else %}
<h1>Welcome to Kosupure, visitor!</h1>
<p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
{% endif %}

<h1>Hello World! (From the HTML)</h1>
<div id="app">
    <h1> [[ message ]] </h1>

    <div v-for="post in posts" :key="posts.id">
        <p> 
            <br>
            Posted by: [[ post.posted_by['username'] ]] 
            Creater: [[ post.posted_by.is_creator ]] 
            Adult: [[ post.posted_by.is_adult ]] 
        </p>

        <img :src="post.pic">

        <p v-for="comment in post.comments"> 
            Comment: [[ comment['comment'] ]]
            Comment By: [[ comment.posted_by.username ]]
            Creater: [[ comment.posted_by.is_creator ]] 
            Adult: [[ comment.posted_by.is_adult ]] 
            Date: [[ formattingDates(comment.comment_date) ]]
        <div>
            <input v-model="currentComment" placeholder="big butt"></input>
            <button @click="submitComment(post)">I'm a button</button>
        </div>
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
Vue.component('new-post', {
        data: {
            newPostWords = '',
            tags = '',
            pic = '',
            tags = '',
            user = [],
            selectedFile: null,
        },

        template: `
        <div>
            <input type="file" accept="image/jpeg" @change=onFileChanged>
            <input type="text" placeholder="New post" v-model="newPostWords">
            <input type="text" placeholder="Enter Tags" v-model="tags">
            <button @click="newPost">Make a new post</button>
        </div>
        `,

        methods: {
            onFileChanged (event) {
                this.selectedFile = event.target.files[0]
            },
            loadCurrentUser: function() {
                axios({
                    method: 'get',
                    url: '/apis/v1/currentuser/'
                }).then(response => {
                    this.user = response.data
                })
            },
            newPost: function () {
                axios({
                    method: 'post',
                    url: '/apis/v1/posts/',
                    headers: {
                        'X-CSRFToken': this.csrf_token
                    },
                    data: {
                        "user_name": this.user.id,
                        "description": this.newPostWords,
                        "pic": this.selectedFile,
                        "tags": this.tags
                    }
                }).then(response => {
                    this.newPostWords = ''
                    this.loadPosts()
                })
            }
        },
        created: function () {
            this.loadCurrentUser()
        },
        mounted: function () {
            this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value;
        }
})



    let app = new Vue({
        el: "#app",
        delimiters: ['[[', ']]'],
        data: {
            id: {},
            comments: [],
            currentComment: '',
            created_at: new Date().toISOString().slice(0,10),
            csrf_token: "",
            message: "Hello World! (From the Vue App)",
            posts: [],
            user: [],
        },

        methods: {
            loadCurrentUser: function() {
                axios({
                    method: 'get',
                    url: '/apis/v1/currentuser/'
                }).then(response => {
                    this.user = response.data
                })
            },
            loadPosts: function () {
                axios({
                    method: 'GET',
                    url: '/apis/v1/posts/'
                }).then(response => {
                    this.posts = response.data
                })
            },
            loadComments: function () {
                axios({
                    method: 'GET',
                    url: '/apis/v1/comments/'
                }).then(response => {
                    this.comments = response.data
                })
            },
            formattingDates: function (date) {
                let dateObj = new Date(date)
                let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }
                let newformat=dateObj.toLocaleString('en-US', options)
                console.log(typeof(dateObj))
                return newformat
            },
            submitComment: function (post) {
                axios({
                    method: 'post',
                    url: '/apis/v1/comments/',
                    headers: {
                        'X-CSRFToken': this.csrf_token
                    },
                    data: {
                            "post": post.id,
                            "user_name": this.user.id,
                            "comment": this.currentComment
                    }
                }).then(response => {
                    this.currentComment = ''
                    this.loadPosts()
                })
            },
        },

        created: function () {
            this.loadPosts()
            this.loadCurrentUser()
            this.loadComments()
        },

        mounted: function () {
            this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value;
        }
        
    })
</script>
</body>